.common {
  margin: 10px;
  border: 1px solid #ccc;
  height: 200px;
}
.two-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.two-col {
  display: flex;
  flex-direction: column;
}

.n {
  font-size: 14px;
  padding: 10px;
}
.v {
  font-size: 24px;
}
