<p>flex-demo works!</p>

<div style="width: 500px">
  <div
    class="two-row common"
    style="justify-content: space-between; align-items: center"
  >
    <div class="n">名称</div>
    <div class="v">123424</div>
  </div>

  <div
    class="two-row common"
    style="justify-content: center; align-items: center"
  >
    <div class="n">名称</div>
    <div class="v">123424</div>
  </div>
  <div
    class="two-row common"
    style="justify-content: space-around; align-items: center"
  >
    <div class="n">名称</div>
    <div class="v">123424</div>
  </div>
  <div class="two-col common" style="justify-content: space-between">
    <div class="n">名称</div>
    <div class="v">123424</div>
  </div>
  <div
    class="two-col common"
    style="justify-content: space-between; align-items: center"
  >
    <div class="n">名称</div>
    <div class="v">123424</div>
  </div>
  <div
    class="two-col common"
    style="justify-content: center; align-items: center"
  >
    <div class="n">名称</div>
    <div class="v">123424</div>
  </div>
</div>
